<div id="<%= dom_id categories_transaction1 %>">
  <p>
    <strong>Transactions1s:</strong>
    <%= categories_transaction1.transactions1s_id %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= categories_transaction1.categories_id %>
  </p>

</div>
