<h1>Editing categories transaction1</h1>

<%= render "form", categories_transaction1: @categories_transaction1 %>

<br>

<div>
  <%= link_to "Show this categories transaction1", @categories_transaction1 %> |
  <%= link_to "Back to categories transaction1s", categories_transaction1s_path %>
</div>
