<div id="<%= dom_id categories_transaction %>">
  <p>
    <strong>Transactions:</strong>
    <%= categories_transaction.transactions_id %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= categories_transaction.categories_id %>
  </p>

</div>
