<p style="color: green"><%= notice %></p>

<h1>Categories transactions</h1>

<div id="categories_transactions">
  <% @categories_transactions.each do |categories_transaction| %>
    <%= render categories_transaction %>
    <p>
      <%= link_to "Show this categories transaction", categories_transaction %>
    </p>
  <% end %>
</div>

<%= link_to "New categories transaction", new_categories_transaction_path %>
