<h1>New categories transaction</h1>

<%= render "form", categories_transaction: @categories_transaction %>

<br>

<div>
  <%= link_to "Back to categories transactions", categories_transactions_path %>
</div>
