<h1 class="text-center mt-5">Super Budget</h1>
<section class="container position-fixed bottom-0 w-100">
  <%= button_to 'LOG IN', new_user_session_path, method: :get, class:"btn btn-primary w-100" %>
  <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class:"btn w-100" %>
</section>