<h1 class="text-center">Super Budget</h1>
<section class="container position-fixed bottom-0 w-70">
  <div class="d-flex flex-column align-items-center">
 <div class= "d-flex flex-column align-items-center w-75 mb-3">
  <%= button_to 'LOG IN', new_user_session_path, method: :get, class:"btn btn-primary w-70" %>
  <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class:"btn w-70" %>
  </div>
</section>