<div id="<%= dom_id transactions1 %>">
  <p>
    <strong>Name:</strong>
    <%= transactions1.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transactions1.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transactions1.user_id %>
  </p>
</div>
