<h1>Editing transactions1</h1>

<%= render "form", transactions1: @transactions1 %>

<br>

<div>
  <%= link_to "Show this transactions1", @transactions1 %> |
  <%= link_to "Back to transactions1s", transactions1s_path %>
</div>
