<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Super Budget App</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" 
   aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    <li>
   <%= link_to 'Back', 'javascript:history.back()' %>
    </li>
      <li class="nav-item">
         <%= link_to 'Categories', categories_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to 'Transactions', transactions1s_path, class: "nav-link" %>
      </li>
     
      <li class="nav-item">
         <button class="btn btn-danger signout">
            <%= link_to 'Sign out', destroy_user_session_path, 'data-turbo-method': :delete, class: "nav-link" %>
          </button>
      </li>
    </ul>
  </div>
</nav>